.main-products-page{
    width: 100%;
    margin: 1rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color:var(--ecom-background-color);
}

.main-bar{
    margin-top:1rem;
    padding:1rem 2rem;  
}
.card-Image{
    width: 284px;
    height: 200px;
}

.main-bar-heading{
    padding-bottom: 1rem;
}

.aside{
    margin-top:1rem;
    padding: 1rem;
    margin-left: 1rem;
    overflow-y: scroll;
}

.divider{
    margin: 0.5rem auto;
}

.filter-heading{
    font-weight:bold;
    font-size: 1rem;
}

.filter-title{
    font-size: 1.25rem;
    padding-top: 1rem;
}

.slider{
    margin:0.5rem 0;
    width: 90%;
}

.inputDiv{
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
}

.flex-space-btwn{
    justify-content: space-between;
}

.filter-btn{
    justify-content: flex-end;
    margin-top: 2rem;
}

.text-underline{
    text-decoration: underline;
}

.filterClear{
    color: var(--color-primary);
}

.product-card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2rem;
}