:root{
    --light-color:rgb(230, 228, 228);
    --ecom-footer-background:rgb(54, 53, 53);
}
.ecom-footer{
    background-color: var(--ecom-footer-background);
    color: var(--color-white);
    padding: 2rem 0rem;
    height: 10rem;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
}

.footer-links{
    list-style: none; 
}

.footer-link, .social-icon, .brand{
    color:var(--color-white);
    cursor: pointer;
}
.brandName{
    font-size:2em;
    color: var(--color-primary);
}
.footer-link:hover, .social-icon:hover{
    color:var(--color-primary);
}

.footer-section{
    align-items: flex-start;
}

.footer-heading{
    font-size:x-large;
    color: var(--light-color);
}

ul{
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.gap-1rem{
    gap: 1rem;
}